@tailwind base;
@tailwind components;
@tailwind utilities;

.thumbs {
  text-align: center;
}

.swiper {
  width: 90%;
}


.react-tabs__tab {
  border: none !important;
}

.react-tabs__tab-list {
  border: none !important;
}

.react-tabs__tab--selected {
  color: #BB8506 !important;
  border-bottom: 2px solid #BB8506 !important;
}

.react-tabs {
  text-align: center !important;
}